header {
    .mo-header {
        .top-links {
            @include xs {
                right: 10px;
                top: 26px;
                left: auto;
                z-index: 100;

                #{$ltr} & {
                    right: auto;
                    left: 10px;
                }
            }
        }

        .lang {
            @include xs {
                margin: 0;
                transform: scaleX(0);
                transform-origin: right;
                @include transition(all 0.4s ease-in-out);

                #{$ltr} & {
                    left: 10px;
                    right: auto;
                    transform-origin: left;
                }

                &.lang-in {
                    transform: scaleX(1);
                }
            }
        }
    }
}

nav {
    .close-btn {
        font-size: 20px;
        color: $old-price;
        position: absolute;
        left: 25px;
        top: 25px;
        display: none;
    }
}

nav {
    @include xs {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($black, 0.4);
        z-index: 99;
        margin: 0;


        .mo-navbar {
            background-color: #fff;
            width: 280px;
            flex-direction: column;
            height: 100vh;
            padding: 80px 25px 0;
            align-items: flex-start;
            justify-content: flex-start;
            transform-origin: right;
            transform: scaleX(0);
            @include transition(all 0.5s ease-in-out);

            &.nav-in {
                transform: scaleX(1);
            }
        }

        .close-btn {
            display: flex;
        }

        .nav-li {
            margin: 7px 0;
        }

        .nav-anchor {
            color: $text;
            font-family: med;

            @include sm {
                line-height: unset;
            }
        }
    }

}

#{$ltr} {
    nav {
        .close-btn {
            right: 25px;
            left: auto;
        }
    }

    nav {
        @include xs {
            .mo-navbar {
                transform-origin: left;
            }
        }

    }
}