$gold: #b29b67;
$hover: #172e57;
$text: #2e4d79;
$top:#939393;
$black: #333;
$border:#e6e6e6;
$new-price:#a38c55;
$old-price:#afafaf;
$arrow:#777777;
$footer:#bd9c58;

$ltr: "html[dir='ltr']";